<!DOCTYPE html>
<html>
<head>
  <title>Assignment 1</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/exercises.css" />
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Assignment 1</h1>
    <p>Kolaja David, Emil Bøen, Gabriel Marques</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="border">
      <h3><span class="glyphicon glyphicon-registration-mark"></span>Form with student name</h3>
      <form>
        Student name: <input type="text" id="name" required><br>
        <button type="button" onClick="displayName()">Show name on screen</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="border">
      <h3><span class="glyphicon glyphicon-registration-mark"></span>Display student age from array</h3>
      <form>
        Student age: <input type="number" id="age" required min="1"><br>
        <button type="button" onClick="findStudentByAge(document.getElementById('age').value)">Show student by age</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="border">
      <h3><span class="glyphicon glyphicon-registration-mark"></span>Add a user account</h3>
      <form>
        Client's first name: <input type="text" id="firstName" required><br>
        Client's last name: <input type="text" id="lastName" required><br>
        Client's date of birth (YYYY-MM-DD): <input type="date" value="1970-01-01" id="dateOfBirth" required><br>
        Client's city: <input type="text" id="city" required><br>
        <button type="button" onClick="createUserAccount()">Create an account</button>
      </form>
      <br>
      <p id="accountCreateResponse"><b>Try to create the account above! Please mind your inputs.</b></p>
    </div>
  </div>
</div> <!-- container -->
</body>

<script>
// FIBONACCI
// console.log("Fibonacci sequence recursive: "+fibonacciRecursive(12))
// console.log("Fibonacci sequence method: "+fibonacciNumFunction(12))

function FibRecRes(n) {
    document.getElementById('fibResult').innerHTML = "Result: "+fibonacciRecursive(n)
}

function fibonacciRecursive(n) {
    if(n == 1) {
        return [0,1]
    }
    else if (n <= 0) {
        return "Please enter number bigger than 0"
    }
    else {
        var fibSequence = fibonacciRecursive(n-1)
        fibSequence.push(fibSequence[fibSequence.length -1] + fibSequence[fibSequence.length -2])
        return fibSequence
    }
};

function fibonacciNumFunction(n) {
    var fibSequence = [0,]
    if(n >= 1) {
        x = 0
        y = 1
        while (n >= 1) {
            tmp = x
            x = x + y
            y = tmp
            fibSequence.push(x)
            n--
        }
        document.getElementById('fibResult').innerHTML = "Result: "+fibSequence
//         return fibSequence
    }
    else if (n <= 0) {
        document.getElementById('fibResult').innerHTML = "Result: Please enter number bigger than 0"
//         return "Please enter number bigger than 0"
    }
    else {
        document.getElementById('fibResult').innerHTML = "Result: "+fibSequence
//         return fibSequence
    }
};
</script>

<script>
// PEOPLE STRUCTURES
var student = {
    name: "Dave",
    age: 24,
    city: "Gjovik"
}

var students = [{
                    name: "Dave",
                    age: 24,
                    city: "Gjovik"
                },
                {
                    name: "Marek",
                    age: 31,
                    city: "Brno"
                },
                {
                    name: "Luke",
                    age: 19,
                    city: "Prague"
                }
                ]

function makeStudentOlder(years) {
    return student.age + years;
}

console.log("Student is "+makeStudentOlder(6)+" years old.")

function displayName() {
    if(document.getElementById('name').value == "")
        alert("You have not entered any name.")
    else
        alert(document.getElementById('name').value)
}

function findStudentByAge(age) {
    if (age <= 0) {
        alert("Please enter age higher than 0.")
        return
    }

    found = false
    for(i=0; i < students.length; i++)
        if (students[i].age == age) {
            alert("Name: "+students[i].name+"\nAge: "+students[i].age+"\nCity: "+students[i].city)
            found = true
        }
        else if (i == students.length - 1 && !found)
            alert("No student with this age.")
}
</script>

<script>
// AJAX Create a user account
function createUserAccount() {
  const fname = document.getElementById("firstName").value
  const lname = document.getElementById("lastName").value
  const dateOfBirth = document.getElementById("dateOfBirth").value
  const city = document.getElementById("city").value
  var request = new XMLHttpRequest()
  if(document.getElementById('firstName').value == "" || document.getElementById('lastName').value == "" || document.getElementById('dateOfBirth').value == "" || document.getElementById('city').value == "")
      alert("Please fill in all required fields.")
  else {
      request.open("POST", `createUserAccount/${fname}/${lname}/${dateOfBirth}/${city}`, true)
      request.setRequestHeader("Content-Type", "text/plain")
      console.log(request)
      request.onload = function() {
          if(this.readyState === 4 && this.status === 200) {
            document.getElementById("accountCreateResponse").innerHTML = this.responseText;
            //alert(this.responseText+" "+document.getElementById("nameAjax").value);
          }
          else {
            console.log(request.statusText+",\n"+request.responseText)
            document.getElementById("accountCreateResponse").innerHTML = "An error occured while calling the resource. See console for more info.";
          }
      }
      request.send()
  }
}
</script>

</html>
