<!DOCTYPE html>
<html>

<head>
  <title>Assignment 1</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/exercises.css" />
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Assignment 1</h1>
    <p>Kolaja David, Emil Bøen, Gabriel Marques</p>
  </div>

  <main>
    <div class="_container">

      <div class="row">
        <form>
          <h3>Add/search for a user account</h3>
          <label>First name:</label>
          <input type="text" id="fname" required><br>
          <label>Last name:</label>
          <input type="text" id="lname" required><br>
          <label>Date of birth:</label>
          <input type="date" placeholder="1970-01-01" id="dateOfBirth" required><br>
          <label>City: </label>
          <input type="text" id="city" required><br>
          <button type="button" onClick="createUserAccount()">Create an account</button>
          <p id="accountCreateResponse"><b>Please mind your inputs.</b></p>
          <br>
          <button type="button" onClick="displayAccountNumber()">Show me account number</button>
          <p id="searchAccountResponse"><b>Client's account number you looked for is: </b></p>
        </form>
      </div>

      <div class="row">
        <form>
          <h3>Delete customer from DB</h3>
          <label>Personal number: </label>
          <input type="text" name="Personal number" id="person_num" required><br>
          <button type="button" onClick="deleteClientFromDB()">Delete client's account</button>
          <p id="deleteAccountResponse"></p>
        </form>
      </div>

      <div class="row">
        <form>
          <h3>Update customer in DB</h3>
          <label>Personal number: </label>
          <input type="text" name="Personal number" id="person_num_update" required><br>
          <label>Updated last name: </label>
          <input type="text" name="Last Name to update" id="lname_update" required>
          <button type="button" onClick="updateClientsLastName()">Update client's name</button>
          <p id="updateAccountResponse"></p>
        </form>
      </div>

      <div class="row" style="word-wrap:break-word">
        <form>
          <h4>If you'd like to see all personal numbers, call <i>/assignment1/allPersonNums</i> interface (don't use in production pls).</h4>
        </form>
      </div>

    </div>
  </main> <!-- container -->
</body>

<script>
  // AJAX Create a user account
  function createUserAccount() {
    const fname = document.getElementById("fname").value
    const lname = document.getElementById("lname").value
    const dateOfBirth = document.getElementById("dateOfBirth").value
    const city = document.getElementById("city").value
    var request = new XMLHttpRequest()
    if (document.getElementById('fname').value == "" || document.getElementById('lname').value == "" || document.getElementById('dateOfBirth').value == "" || document.getElementById('city').value == "")
      alert("Please fill in all required fields.")
    else if (!document.getElementById('fname').value.match(/^[0-9a-zA-Z]+$/) || !document.getElementById('lname').value.match(/^[0-9a-zA-Z]+$/) || !document.getElementById('city').value.match(/^[0-9a-zA-Z]+$/)) {
      alert("Please fill in only alphanumeric characters into fields.")
    }
    else {
      request.open("POST", `assignment1/createUserAccount/${fname}/${lname}/${dateOfBirth}/${city}`, true)
      request.setRequestHeader("Content-Type", "text/plain")
      // console.log(request)
      request.onload = function () {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("accountCreateResponse").innerHTML = this.responseText;
        }
        else {
          console.log(request.statusText + ",\n" + request.responseText)
          document.getElementById("accountCreateResponse").innerHTML = "An error occured while calling the resource. See console for more info.";
        }
      }
      request.send()
    }
  }

  // AJAX Search for user's account number
  function displayAccountNumber() {
    const fname = document.getElementById("fname").value
    const lname = document.getElementById("lname").value
    const dateOfBirth = document.getElementById("dateOfBirth").value
    const city = document.getElementById("city").value
    var request = new XMLHttpRequest()
    if (document.getElementById('fname').value == "" || document.getElementById('lname').value == "" || document.getElementById('dateOfBirth').value == "" || document.getElementById('city').value == "")
      alert("Please fill in all required fields.")
    else if (!document.getElementById('fname').value.match(/^[0-9a-zA-Z]+$/) || !document.getElementById('lname').value.match(/^[0-9a-zA-Z]+$/) || !document.getElementById('city').value.match(/^[0-9a-zA-Z]+$/)) {
      alert("Please fill in only alphanumeric characters into fields.")
    }
    else {
      request.open("GET", `assignment1/getAccount/${fname}/${lname}/${dateOfBirth}/${city}`, true)
      request.setRequestHeader("Content-Type", "text/plain")
      // console.log(request)
      request.onload = function () {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("searchAccountResponse").innerHTML = this.responseText;
        }
        else {
          console.log(request.statusText + ",\n" + request.responseText)
          document.getElementById("searchAccountResponse").innerHTML = "An error occured while calling the resource. See console for more info.";
        }
      }
      request.send()
    }
  }

  // AJAX Search for user's account number
  function deleteClientFromDB() {
    const person_num = document.getElementById("person_num").value
    var request = new XMLHttpRequest()
    if (document.getElementById('person_num').value == "")
      alert("Please fill in required field.")
    else if (!document.getElementById('person_num').value.match(/^[0-9a-zA-Z]+$/)) {
      alert("Please fill in only alphanumeric characters into fields.")
    }
    else {
      request.open("DELETE", `assignment1/deleteAccountById/${person_num}`, true)
      // console.log(request)
      request.onload = function () {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("deleteAccountResponse").innerHTML = request.responseText;
        }
        else {
          console.log(request.statusText + ",\n" + request.responseText)
          document.getElementById("deleteAccountResponse").innerHTML = "An error occured while calling the resource. See console for more info.";
        }
      }
      request.send()
    }
  }

  function updateClientsLastName() {
    const person_num_update = document.getElementById("person_num_update").value
    const lname_update = document.getElementById("lname_update").value
    var request = new XMLHttpRequest()
    if (document.getElementById('person_num_update').value == "" || document.getElementById('lname_update').value == "")
      alert("Please fill in all required fields.")
    else if (!document.getElementById('person_num_update').value.match(/^[0-9a-zA-Z]+$/) || !document.getElementById('lname_update').value.match(/^[0-9a-zA-Z]+$/)) {
      alert("Please fill in only alphanumeric characters into fields.")
    }
    else {
      request.open("PUT", `assignment1/updateAccount/${person_num_update}/${lname_update}`, true)
      request.setRequestHeader("Content-Type", "text/plain")
      // console.log(request)
      request.onload = function () {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("updateAccountResponse").innerHTML = this.responseText;
        }
        else {
          console.log(request.statusText + ",\n" + request.responseText)
          document.getElementById("updateAccountResponse").innerHTML = "An error occured while calling the resource. See console for more info.";
        }
      }
      request.send()
    }
  }
</script>

</html>
