<!DOCTYPE html>
<html>
<head>
  <title>Exercise 2</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/exercises.css" />
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Exercise 2</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="border">
      <h3><span class="glyphicon glyphicon-registration-mark"></span>Fibonacci functions</h3>
      <p> Fibonacci returns: </p>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
